USE [yxg_firecon]
GO
/****** Object:  Table [dbo].[SU_equiplog]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SU_equiplog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[HOST_ID] [varchar](10) NOT NULL,
	[ADDR_ID] [varchar](20) NOT NULL,
	[EX_STATE] [smallint] NOT NULL,
	[datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_SU_equiplog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SU_equipcontrol]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SU_equipcontrol](
	[HOST_ID] [varchar](10) NOT NULL,
	[ADDR_ID] [varchar](20) NOT NULL,
	[status] [smallint] NOT NULL,
	[username] [varchar](32) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[updatetime] [datetime] NOT NULL,
 CONSTRAINT [PK_SU_equipcontrol] PRIMARY KEY CLUSTERED 
(
	[HOST_ID] ASC,
	[ADDR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NODE_LOG]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NODE_LOG](
	[LOG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOST_ID] [int] NOT NULL,
	[ADDR_ID] [varchar](20) NOT NULL,
	[STATE] [char](1) NOT NULL,
	[STATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_NODE_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NODE_LOG] ON
INSERT [dbo].[NODE_LOG] ([LOG_ID], [HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (19, 36, N'000000', N'0', CAST(0x0000A56B010146F4 AS DateTime))
INSERT [dbo].[NODE_LOG] ([LOG_ID], [HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (20, 36, N'000000', N'1', CAST(0x0000A56B0101D33C AS DateTime))
INSERT [dbo].[NODE_LOG] ([LOG_ID], [HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (21, 36, N'000000', N'0', CAST(0x0000A56B01076773 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[NODE_LOG] OFF
/****** Object:  Table [dbo].[NODE]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NODE](
	[HOST_ID] [int] NOT NULL,
	[ADDR_ID] [varchar](20) NOT NULL,
	[STATE] [char](1) NOT NULL,
	[STATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_NODE] PRIMARY KEY CLUSTERED 
(
	[HOST_ID] ASC,
	[ADDR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NODE] ([HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (41, N'0040159', N'1', CAST(0x0000A5C200CE89D4 AS DateTime))
INSERT [dbo].[NODE] ([HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (41, N'0040169', N'1', CAST(0x0000A5C200C69C24 AS DateTime))
INSERT [dbo].[NODE] ([HOST_ID], [ADDR_ID], [STATE], [STATE_DATE]) VALUES (41, N'0320076', N'0', CAST(0x0000A5C200BAFB94 AS DateTime))
/****** Object:  Table [dbo].[HOST]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOST](
	[HOST_ID] [int] NOT NULL,
	[HOST_CODE] [varchar](50) NOT NULL,
	[PASSWD] [varchar](50) NOT NULL,
	[ACTIVE] [char](1) NOT NULL,
	[COMM_DATE] [datetime] NOT NULL,
	[COMM_VARS] [varchar](100) NOT NULL,
	[STATE] [char](1) NOT NULL,
	[STATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_HOST] PRIMARY KEY CLUSTERED 
(
	[HOST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HOST] ([HOST_ID], [HOST_CODE], [PASSWD], [ACTIVE], [COMM_DATE], [COMM_VARS], [STATE], [STATE_DATE]) VALUES (36, N'host1', N'670b14728ad9902aecba32e22fa4f6bd', N'1', CAST(0x0000A58B009F6240 AS DateTime), N'0', N'0', CAST(0x0000A58B009FF4A4 AS DateTime))
INSERT [dbo].[HOST] ([HOST_ID], [HOST_CODE], [PASSWD], [ACTIVE], [COMM_DATE], [COMM_VARS], [STATE], [STATE_DATE]) VALUES (37, N'host2', N'670b14728ad9902aecba32e22fa4f6bd', N'1', CAST(0x0000A56B0187EFF0 AS DateTime), N'0', N'0', CAST(0x0000A59800AD9014 AS DateTime))
INSERT [dbo].[HOST] ([HOST_ID], [HOST_CODE], [PASSWD], [ACTIVE], [COMM_DATE], [COMM_VARS], [STATE], [STATE_DATE]) VALUES (38, N'host3', N'670b14728ad9902aecba32e22fa4f6bd', N'1', CAST(0x0000A56B0187EFF0 AS DateTime), N'0', N'0', CAST(0x0000A59800AD8A07 AS DateTime))
/****** Object:  Table [dbo].[GwDbcSet]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GwDbcSet](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventTime] [int] NULL,
	[AlarmHostID] [int] NULL,
	[AddressCode] [varchar](20) NULL,
	[Event] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GwDbcGet]    Script Date: 03/09/2016 12:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GwDbcGet](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventTime] [int] NULL,
	[AlarmHostID] [int] NULL,
	[AddressCode] [varchar](20) NULL,
	[Event] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
